.mid-up,
.header{
    display: flex; 
    background-color: #1F2937;
    padding-left: 132px;
    padding-right: 132px;
    color: white;
    

}
.header{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    height: 40px;
}

.logo{
    font-weight: bold;
    font-size: 24px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.font-1{
    color: #E5E7EB;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-1 img{
    width: 300px;
    height: auto;
    padding: 32px;
    padding-right: 0;
}
.info button{
    color: white;
    background-color: #3882f6;
    align-self: flex-start;
    border-radius: 5px;
    padding: 2px 6px;
}

.mid-up{
    justify-content: space-between;
}